page-home {
     .yajiri_img{
        position: relative;   
        width: 30px;
        height: 30px;     
        text-align: center;
        object-fit: contain;
        content: url("../assets/imgs/yajiri_logo.png")  ;
     }


    }